/* HTML Elements */
/* =========================================================================== */

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 64px
}

h1 a {
  color: black
}

h1 a:hover {
  color: #f50057;
  transition: 1s
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 1s
}

p {
  padding: 15px 0px 15px 0px;
}

/* Classes */
/* =========================================================================== */

.about {
  transition: 1s;
}

.container {
  margin-top: 150px
}

.description {
  background-image: url("images/inMotionBackground.png");
  background-size: cover;
  height: 500px;
}

.fa {
  padding: 25px;
  padding-top: 30px
}

.facebookIcon {
  color: black
}

.facebookIcon:hover {
  color: #ff1744
}

.getToKnowMe {
  width: 100%;
  color: rgba(0,0,0,0.87);
  background-color: white;
}

.githubIcon {
  color: black
}

.githubIcon:hover {
  color: #2979ff
}

.intro-tabs {
  color: black;
}

.landing-page {
  height: 100vh;
}

.linkedinIcon:hover {
  color: #00e676
}

.linkedinIcon {
  color: black
}

.project-dunn-card {
  border: solid #1e88e5 1px;
}

.project-dunn-card .card-action {
  border-top: solid #1e88e5 1px;
}

.schedulr-card {
  border: solid #e53935 1px;
}

.schedulr-card .card-action {
  border-top: solid #e53935 1px;
}

.socialLink {
  color: black;
  transition: 0.5s
}

.socialMediaIcons1 {
  float: right;
  margin-top: 25px;
}

.socialMediaIcons2 {
  display: none;
}

.super-scraper-card {
  border: solid #5e35b1 1px;
}

.super-scraper-card .card-action {
  border-top: solid #5e35b1 1px;
}

.tabs .indicator {
  background-color: #33c805;
}

.toGo-travel-card {
  border: solid #43a047 1px;
}

.toGo-travel-card .card-action {
  border-top: solid #43a047 1px;
}

.view-project {
  color: white !important;
}

/* Media Queries */
/* =========================================================================== */

/* Ipad */
@media only screen and (max-width: 768px)  {
  .description {
    height: 431px;
  }
}

/* Iphone 6s Plus */
@media only screen and (max-width: 414px)  {
  .description {
    height: 227px;
  }

  .socialMediaIcons1 {
    display: none;
  }

  .socialMediaIcons2 {
    display: block;
  }
}

/* Iphone 6 */
@media only screen and (max-width: 375px)  {
  .description {
    height: 205px;
  }

  .socialMediaIcons1 {
    display: none;
  }

  .socialMediaIcons2 {
    display: block;
  }
}
