/*body {
  background-image: url("images/background-image.jpg");
  background-size: cover;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}*/

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 64px
}

h1 a {
  color: black
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 1s
}

h1 a:hover {
  color: #f50057;
  transition: 1s
}

p {
  padding: 15px 0px 15px 0px;
}

.view-project {
  color: white !important;
}

.myName:hover {
  color: white;
  transition: 1s
}

.socialLink {
  color: black;
  transition: 0.5s
}

.container {
  margin-top: 150px
}

.fa {
  padding: 25px;
  padding-top: 30px
}

.facebookIcon {
  color: black
}

.facebookIcon:hover {
  color: #ff1744
}

.githubIcon {
  color: black
}

.githubIcon:hover {
  color: #2979ff
}

.linkedinIcon:hover {
  color: #00e676
}

.linkedinIcon {
  color: black
}

.socialMediaIcons {
  float: right;
}
